# 05Week 수업

#### 데이터프레임

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hoseo\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hoseo\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hoseo\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hoseo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hoseo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [76]:
import pandas as pd
df = pd.DataFrame({'name' : ['김모씨', '이모씨', '박모씨', '강모씨'],
                  'english' : ['99', '80', '60', '70'],
                  'math' : ['99', '80', '60', '70']})

df

  name english math
0  김모씨      99   99
1  이모씨      80   80
2  박모씨      60   60
3  강모씨      70   70

In [75]:
df2 = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                   '가격' : [1800, 1800, 3000],
                   '판매량' : [24, 38, 13]})
df2

print(f'가격 평균: {df2["가격"].mean()}')
print(f'판매량 평균: {df2["판매량"].mean()}')

가격 평균: 2200.0
판매량 평균: 25.0

#### 엑셀 파일 불러오기

In [74]:
dfExam = pd.read_excel('excel_exam.xlsx')
dfExam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [57]:
# 사칙연산 두가지 출력방법
print(sum(dfExam['english']))

print(dfExam['english'].sum())

1698
1698

In [62]:
print(dfExam['science'].mean())

59.45

In [61]:
print(dfExam['math'].mean())

57.45

In [64]:
len(dfExam)

20

In [84]:
# 시트 2 가져오기

dfExam = pd.read_excel('excel_exam.xlsx', sheet_name ='Sheet2')
dfExam

     n  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [81]:
dfCsv = pd.read_csv('exam.csv')
dfCsv

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [85]:
dfCsv.to_csv('테스트.csv')

#### 데이트프레임 만든 후 파일로 저장

In [89]:
firstDf = pd.DataFrame({'english' : [90, 80, 60, 70],
                       'math' : [50, 60, 100, 20],
                       'nclass' : [1, 1, 2, 2]})

firstDf

# 인덱스 번호 제거 ()안에 index = False
firstDf.to_excel('firstDf.xlsx', index = False)